div(class="top-navigation" id="myTopnav")
 a(href="javascript:void(0);" style="font-size: 15px" class="icon" onclick="reactiveTopNav()") &#9776;
 a(href="javascript:void(0);" style="font-size: 15px" class="icon" onclick="reactiveTopNav()") Navigation
 a(href="index.html" class="active") Home
 a(href="rage.html") Rage
 a(href="contact.html") Contact
 div(class="dropdown")
  a(href="javascript:void(0);" class="dropbtn") more
  div(class="dropdown-content")
   a(href="#") Link 1
   a(href="#") Link 2
   a(href="#") Link 3
   a(href="reference.html") Reference
 a(href="#about") About

